<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

		
		<bean id="logAspect" class="aop.xml.LoggingAspect" />
		
		<bean id="customer" class="aop.xml.CustomerImpl" />
		
		<aop:config proxy-target-class="true">
			<aop:aspect id="logging" ref="logAspect">
				<aop:pointcut expression="execution(* aop.xml.CustomerBo.addCustomer(..))" id="pointCutBefore"/>
				<aop:before method="beforeAdvice" pointcut-ref="pointCutBefore"/>
			</aop:aspect>
		</aop:config>
  	
</beans>
