<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config />
<context:component-scan base-package="com.edu.spring"></context:component-scan>

	<bean id="triangle_preem" class="com.edu.spring.Triangle_DepInject_Preemptive">
		<!-- <property name="type" value="abhishek"></property> -->
		<constructor-arg index="0" type="String" value="hello"></constructor-arg>
		<constructor-arg index="1" type="int" value="20"></constructor-arg>
	</bean>
	
	<!-- Inner Bean Example. Here pointb is inner bean of triangle class.
			 We define those classes here which we know will be used with in Triangle 
			 class and nowhere else.
		 
	<bean id="triangleInnerBeanExample" class="com.edu.spring.Triangle">
		<property name="pointA" ref="pointa"></property>
		
		<property name="pointB">
			<bean class="com.edu.spring.Point">
				<property name="x" value="0"></property>
				<property name="y" value="-20"></property>
			</bean>
		</property>
		<property name="pointC" ref="pointc"></property>
	</bean>
	-->
	<!-- Here triangleParent is the abstract class which is also called incomplete class. This is a template for other classes to use 
		We can not create it's instance. i.e we can not get it's instance from appcontext.getBean() method.
	-->
	<bean id="triangleParent" class="com.edu.spring.Triangle" abstract="true">
		<property name="pointA" ref="pointA"></property>
	</bean>
	
	<!-- Here triangle is the subclass of triangleParent class. Using parent=<class_name>, we can give it's parent. 
		Not injecting dependencies using <property> that is because of autowire="byName". Spring will look into the bean class
		to see if bean's instance variables are defined here as bean. If yes, Spring will inject it automatically.
	-->
	<bean id="triangle" class="com.edu.spring.Triangle" parent="triangleParent" autowire="byName" scope="singleton"
				init-method="initBean" destroy-method="destroyBean">
		
	</bean>
	
	<bean id="circle" class="com.edu.spring.Circle">
		<!-- <property name="center" ref="pointA"></property> -->
	</bean>
	
	<!-- <bean id="square" class="com.edu.spring.Square">
		
	</bean> -->
	
	<bean id="pointA" class="com.edu.spring.Point">
		<!-- This will be used if we give this name "pointAA" in the @Qualifier in the bean definition
		 like this @Qualifier("pointAA") 
		 <qualifier value="pointAA"></qualifier> -->
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean>
	<bean id="pointB" class="com.edu.spring.Point">
		<property name="x" value="0"></property>
		<property name="y" value="-20"></property>
	</bean>
	<bean id="pointC" class="com.edu.spring.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointD" class="com.edu.spring.Point">
		<property name="x" value="40"></property>
		<property name="y" value="40"></property>
	</bean>
	
	<!-- With Alias tag we can give different name to the same bean and get it using Appcontext.getBean("triangle-alias") -->
	<alias name="triangle" alias="triangle-alias"/>
	<!-- Registering Bean Post Processor -->
	<bean class="com.edu.spring.DisplayNameBeanPostProcessor"></bean>
	<!-- Registering Bean Factory Post Processor -->
	<bean class="com.edu.spring.MyBeanFactoryPP"></bean>
	<!-- Registering Property file which can be used to inject values from some property file instead of hardcode here. -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>
	
	<!-- This post processor is used to enable Required annotation -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>custommessages</value>
			</list>
		</property>
	</bean>
</beans>